@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');

/*메뉴 선택시 사용*/
.menuActive {
	background-color : yellowgreen;
	color : black;
}

#members {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#members td, #members th {
  border: 1px solid #ddd;
  padding: 8px;
}


#members tr:nth-child(even){background-color: #f2f2f2;}

#members tr:hover {background-color: #ddd;}

#members th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}


.page_title{
	font-family: 'Black Han Sans', sans-serif;
	background-color: yellow;
}


.label {
	width : 150px;
	display : inline-block;
	font-weight: bold;
	
}

label {
	width : 150px;
	display : inline-block;
}

.regist input, textarea {
	color : red;
	border: 1px dotted red;
}

ul.menu  {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

.menu li {
	float: left;
}

.menu li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.menu li a:hover {
	background-color: gray;
}

ul.search {
	list-style-type: none;
	border: 1px solid red;
	padding: 10px;
}

.search li {
	display:inline-block;
}